@model FilmsStorage.Models.ViewModels.RegisterModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>


@using (Html.BeginForm("Register", "Profile", FormMethod.Post, new { @class = "form" }))
{
    <div class="row form-group">

        @Html.LabelFor(m => m.UserName, "Ім'я користувача: ", new { @class = "col-sm-4" })
        <div class="col">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
            </small>
        </div>
    </div>
    <div class="row form-group">

        @Html.LabelFor(m => m.LoginName, "Логін користувача: ", new { @class = "col-sm-4" })
        <div class="col">
            @Html.TextBoxFor(m => m.LoginName, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.LoginName, "", new { @class = "text-danger" })
            </small>
        </div>
    </div>
    <div class="row form-group">

        @Html.LabelFor(m => m.Password, "Пароль: ", new { @class = "col-sm-4" })
        <div class="col">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            </small>
        </div>
    </div>
    <div class="row form-group">

        @Html.LabelFor(m => m.PasswordRepeat, "Повторення: ", new { @class = "col-sm-4" })
        <div class="col">
            @Html.PasswordFor(m => m.PasswordRepeat, new { @class = "form-control" })
            <small>
                @Html.ValidationMessageFor(m => m.PasswordRepeat, "", new { @class = "text-danger" })
            </small>
        </div>
    </div>
    <input type="submit" value="Реєстрація" class="btn btn-success" />
}

@if (Model != null && Model.Password != null)
{
    <script>

        const pass = document.querySelector("#Password");
        pass.value = "@Model.Password";

    </script>
}

@if (Model != null && Model.PasswordRepeat != null)
{
    <script>

        const pass = document.querySelector("#PasswordRepeat");
        pass.value = "@Model.PasswordRepeat";

    </script>
}